<footer class="page-footer font-small mdb-color pt-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">
        <div class="col-md-3 col-lg-3 col-xl-7 mx-auto mt-3" style="float: left;">
          <h6 class="text-uppercase mb-4 font-weight-bold">Insurance In Miami</h6>
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">



        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect href="https://www.facebook.com/InsuranceFinancialCenter/?__tn__=kC-R&eid=ARDmNiLyCyUMwVdhWIhw19k4ljGONejT43GO4-W6nZ-2zfGQoCQ4DJaJbltRj0XVbX4Q_xC2-Pvnms99&hc_ref=ARSQRK7zTiCdIrOkLUR5oDx9JoBVJMqpYgyZagOWpFUHtKdQm0adoKXZxiCiTAXeexU&fref=tag" target="_blank">
                  <mdb-icon fab icon="facebook"></mdb-icon>
                </a>
          </p>
          <p style="padding-top: 10px">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect href="https://vk.com/insurancemiami" target="_blank">
                  <mdb-icon fab icon="vk"></mdb-icon>
                </a>
          </p>
          <p style="padding-top: 10px">
            <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect href="https://www.instagram.com/akmakro/" target="_blank">
                  <mdb-icon fab icon="instagram"></mdb-icon>
                </a>
          </p>

        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> 18090 Collins Ave. Unit T14 Sunny Isles, FL 33160
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> <a href="mailto:akmakro@hotmail.com">akmakro@hotmail.com</a>
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon><a href="tel:123-456-7890">305-466-3333</a>
          </p>
        </div>
      </div>


      <hr>


      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left">© 2019 Copyright
          </p>
        </div>
      </div>
    </div>
</footer>


      


